<!DOCTYPE html>
<html>
  <body>
    <div class="about">
      <h1> MMap </h1>
      <p>The Kitchen Project is a website dedicated to helping students and restaurants connect with nearby Foodbanks.</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d64103.23622503451!2d-71.20788421626088!3d42.50942318772828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3656de973bffd%3A0x45c6d03655830d1c!2sMassachusetts%2C%20USA!5e0!3m2!1sen!2shk!4v1655546103663!5m2!1sen!2shk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </body>
</html>

